.bg{
  background: linear-gradient(to right, rgb(153, 213, 241), rgb(209, 201, 253));
}

.sell{
    background-image: url('../../assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: -20px;
    height: 600px;
}

.sell_h1{
  margin-top: 4rem;
  text-align: center;
  font-size: 34px;
  padding-top: 4rem;
}

.sell_h3{
  text-align: center;
  color: #1616a8 ;
  margin-top: 1rem;
}

.sell_h2{
  text-align: center;
  padding-top: 6rem;
}

.span_sell_1{
  background: linear-gradient(to right, rgb(116, 42, 42), rgb(54, 18, 18));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
} 

.span_sell_2{
  background: linear-gradient(to right, rgb(252, 4, 4), rgb(82, 2, 2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
} 
.span_sell_3{
  background: linear-gradient(to right, rgb(39, 185, 51), rgb(11, 65, 18));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
} 

.span_buy_1{
  background: linear-gradient(to right, rgb(107, 238, 255), rgb(23, 1, 221));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
} 

.span_buy_2{
  background: linear-gradient(to right, rgb(255, 107, 107), rgb(23, 1, 221));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  font-style: italic;
} 


.h11 {
    font-size: 2rem;
  }
  
  /* Media query for small screens (up to 767px width) */
  @media (max-width: 767px) {
    .h11 {
      font-size: 2rem; /* Adjust the desired font size for small screens */
    }
    .sell_h3{
      padding: 0rem 4rem;
      font-size: medium;
      color: black;
    }
    .image{
      height: 6rem;
    }
  }
  
  /* Media query for laptop screens (768px and above) */
  @media (min-width: 768px) {
    .h11 {
      font-size: 4rem; /* Adjust the desired font size for laptop screens */
    }
    .sell_h3{
      padding: 0rem 0rem;
      font-size: large;
    }
    .image{
      height: 12rem;
    }
  }

  .book-sell-steps {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
    border-radius: 8px;
    
  }
  
  .step {
    flex: 1;
    text-align: center;
    background-color: #d6d2c7;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 6;
    transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(92, 92, 92, 0.4);
  }
  .step:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  }
  .step-number {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50; /* Green color for step numbers */
  }
  .stepss{
    background-image: url("../../assets/bgg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 1.5rem 0rem 2rem 0rem;
  }
  .step-info {
    margin-top: 10px;
  }
  
  .step-info h3 {
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .step-info p {
    font-size: 14px;
  }
  
  